@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*FONTE
- Montserrat Bold: Títulos
- Montserrat Regular: Subtítulos e corpo do texto

CORES
- Azul: #335e9e
- Branco: #FFFFFF
- Cinza: #d9d9d9
 */

:root {
  --azul: #335e9e;
  --branco: #ffffff;
  --cinza: #d9d9d9;
  --cinza-claro: #e0e0e0;
  --cinza-muito-claro: #f5f5f5;
  --preto: #000000;
  --verde: #28a745;
  --vermelho: #dc3545;

  --font-sistema: "Montserrat", sans-serif;

  --fonte-celular: 14px;
  --subitutlo-celular: 18px;
  --titulo-celular: 22px;

  --fonte-pc: 16px;
  --subitutlo-pc: 20px;
  --titulo-pc: 24px;

  --fonte-tablet: 15px;
  --subitutlo-tablet: 19px;
  --titulo-tablet: 23px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sistema);
}